<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

    <f:layout name="DefaultPage" />

    <f:section name="Configuration">

        <flux:form id="page.default">

            <!-- Input field for Fluid variable 'pageClass' -->
            <flux:field.input name="settings.pageClass" default="some-css-class" />

            <!-- Backend layout grid (TYPO3 6.x and greater only) -->
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="1" name="sidebar" style="width: 25%" />
                    <flux:grid.column colPos="0" name="content" style="width: 75%" />
                </flux:grid.row>
            </flux:grid>

        </flux:form>

    </f:section>

    <f:section name="Content">
        <!-- Render colPos=0 in this section -->
        <v:content.render column="0" />
    </f:section>

    <f:section name="Sidebar">
        <!-- Render colPos=1 in this section -->
        <v:content.render column="1" />
    </f:section>

</div>